@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="stroke">THE BEST Food</h1>
</div>

<div class="gallery">
    <img src="img/Dishes/Burger.jpg" title="Burger">
    <img src="img/Dishes/French Fries.jpg" title="French Fries">
    <img src="img/Dishes/Fried Chicken.jpg" title="Fried Chicken">
    <img src="img/Dishes/pizza.jpg" title="pizza">
    <img src="img/Dishes/shawarma.jpg" title="shawarma">
    <img src="img/Dishes/download.jpg" title="chicken grill">
    <img src="img/Dishes/red-sauce-pasta-recipe.jpg" title="red sauce pasta">
    <img src="img/Dishes/Butterfly-Shrimp.jpg" title="Butterfly Shrimp">
    <img src="img/Dishes/fish-lead-story-.jpg" title="fried fish">
    <img src="img/Dishes/kabda.jpg" title="kabda">
    <img src="img/Dishes/susage.jpg" title="susage">
    <img src="img/Dishes/koshary.jpg" title="koshary">
    <img src="img/Dishes/calamares.jpg" title="Calamares">
</div>



